.frame-device-info {
    margin: 15px 0;
}

.frame-device-info figure {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.75);
}

.image-aim,
.image-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(demo_shop/aim_blue.png);
    border: 1px solid #2c71b8;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-position: center;
}

.image-favorite {
    top: 50px;
    background-image: url(demo_shop/favorite_blue.png);
}

.image-favorite:hover,
.image-aim:hover {
    cursor: pointer;

}

.image-favorite-on {
    background-image: url(demo_shop/favorite_white.png);
    background-color: #2c71b8;
}

.image-aim-on {
    background-image: url(demo_shop/aim_white.png);
    background-color: #2c71b8;
}

.frame-device-image img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.device-description {
    padding: 12px;
    font-size: 21px;
    background-color: rgba(44, 113, 184, 0.75);
    border: 1px solid white;
}

.device-description div,
.device-description a {
    margin-bottom: 15px;
}

.device-name {
    font-size: 30px;
    font-weight: bold;
    /* margin-bottom: 20px; */
}

.device-title-text {
    font-weight: bold;
}

div.price {
    margin-top: 25px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

sup {
    font-size: 30px;
    /* font-weight: 900; */
    vertical-align: top;
}

.more-details,
.add-to-card {
    font-family: 'Roboto', sans-serif;
    display: block;
    border: 1px solid white;
    background-color: #2c71b8;
    text-align: center;
    height: 50px;
    width: 210px;
    line-height: 50px;
    margin: 15px auto;
    /* margin-left: auto;
    margin-right: auto; */
    text-decoration: none;
    color: white;
    font-size: 21px;
}

.add-to-card {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    /* margin-bottom: 30px; */
    text-align: left;
    padding-left: 25px;
}

.image-add-to-brasket {
    position: absolute;
    top: 14px;
    left: 172px;
    background-image: url(demo_shop/orders_white.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.more-details:hover,
.add-to-card:hover {
    background-color: white;
    color: #2c71b8;
}

.add-to-card:hover>.image-add-to-brasket {
    background-image: url(demo_shop/orders_blue.png);
}


/* sup {
    color: red;
    font-size: 24px;
} */